<div class="oj-panel oj-margin oj-panel-shadow-sm" style="border-style: none;">
    <div class="oj-flex oj-flex-items-pad oj-sm-flex-items-initial">
        <div class="oj-flex-item">
            <label for="inputnumber-partitions">Partitions: </label>
            <input id="inputnumber-partitions"
                   data-bind="ojComponent: {component: 'ojInputNumber', step: '1', value: '1', rootAttributes: {style:'max-width:6em'}}"/>
        </div>
        <div class="oj-flex-item">
            <span style="margin-right: 0.3em;"></span>
        </div>
        <div class="oj-flex-item">
            <label for="inputnumber-threads">Threads: </label>
            <input id="inputnumber-threads"
                   data-bind="ojComponent: {component: 'ojInputNumber', step: '1', value: '1', rootAttributes: {style:'max-width:6em'}}"/>
        </div>
        <div class="oj-flex-item">
            <span style="margin-right: 0.3em;"></span>
        </div>
        <div class="oj-flex-item oj-sm-align-self-flex-end">
            <button id= "start-button"
                    data-bind="click: click_start_button, ojComponent: {component: 'ojButton', label: 'Start'}">
            </button>
        </div>
    </div>
</div>

<div class="oj-panel oj-margin oj-panel-alt1" style="border-style: none;">
    <div id="masonryLayout"
         data-bind="ojComponent: {component: 'ojMasonryLayout'}">
        <!-- ko foreach: partitions -->
        <div class="oj-panel oj-panel-shadow-sm"
             style="border-style: none;"
             data-bind="attr: {id: getTileId($index())}, css: 'oj-masonrylayout-tile-1x1'">
            <div class="oj-flex oj-flex-items-pad oj-sm-flex-direction-column">
                <div class="oj-flex-item">
                    <div class="oj-flex oj-flex-items-pad">
                        <div class="oj-flex-item">
                            <span class="partition-indicator-avatar not-running"
                                  style="float: left;"
                                  data-bind="text: name, attr: {id: getTileLabelId($index())}">
                            </span>
                        </div>
                        <div class="oj-flex-item">
                            <h2><p class="oj-text-primary-color" data-bind="attr: {id: getProgressId($index())}">- / -</p></h3>
                        </div>
                    </div>
                </div>
                <div class="oj-flex-item">
                    <p class="oj-text-primary-color" data-bind="attr: {id: getAuthorId($index())}">-----------------------</p>
                </div>
                <div class="oj-flex-item">
                    <p class="oj-text-primary-color" data-bind="attr: {id: getPieceId($index())}">-----------------------</p>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>

<div class="oj-panel oj-margin oj-panel-shadow-sm" style="border-style: none;">
    <div>
        <h2>Laps</h2>
    </div>
    <ul id="lapList"
        data-bind="ojComponent: {component: 'ojListView', data: lapsDataSource, item: {template: 'laps_list_template'}}">
    </ul>
</div>

<script type="text/html" id="laps_list_template">
    <li data-bind="attr: {id: $data['lap']}">
        <div class="oj-flex">
            <div class="oj-lg-2 oj-md-2 oj-sm-12" style="max-width:70px; padding-bottom:5px">
                <h1><span data-bind="text: lap"></span></h1>
            </div>
            <div class="oj-lg-10 oj-md-10 oj-sm-12">
                <div class="oj-flex row">
                    <div class="oj-lg-12">
                        <h2><span class="header" data-bind="text: elapsed + ' [ms]'"></span></h2>
                    </div>
                </div>
                <div class="oj-flex row">
                    <div class="oj-lg-4 oj-md-4 oj-sm-12">
                        <span class="data"><b>Partitions: </b><span data-bind="text: partitions"></span></span>
                    </div>
                    <div class="oj-lg-4 oj-md-4 oj-sm-12">
                        <span class="data"><b>Threads: </b><span data-bind="text: threads"></span></span>
                    </div>
                    <div class="oj-lg-4 oj-md-4 oj-sm-12">
                        <span class="data"><b>JobId: </b><span data-bind="text: jobid"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>

<div style="display:none"
     id="initializeDialog"
     title="Initializing..."
     data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide'}">
    <div class ="oj-progressbar-embedded"
         id="progressbar"
         data-bind="ojComponent:{component: 'ojProgressbar', value: -1}">
    </div>
    <div class="oj-dialog-body">
        データベースを初期化しています…。
    </div>
</div>
