<div class="oj-panel oj-margin oj-panel-shadow-sm" style="border-style: none;">
    <label for="inputnumber-partitions">Partitions: </label>
    <input id="inputnumber-partitions"
           data-bind="ojComponent: {component: 'ojInputNumber', max: '10' ,min: '1', step: '1', value: '1', rootAttributes: {style:'max-width:8em'}}"/>
    <label for="inputnumber-threads">Threads: </label>
    <input id="inputnumber-threads"
            data-bind="ojComponent: {component: 'ojInputNumber', max: '10' ,min: '1', step: '1', value: '1', rootAttributes: {style:'max-width:8em'}}"/>
    <button id= "start-button"
            data-bind="click: click_start_button, ojComponent: {component: 'ojButton', label: 'Start'}">
    </button>
</div>


<div class="oj-panel oj-margin oj-panel-alt1" style="border-style: none;">
    <div id="masonryLayout"
         data-bind="ojComponent: {component: 'ojMasonryLayout'}">
    </div>
</div>

<div class="oj-panel oj-margin oj-panel-shadow-sm" style="border-style: none;">
    <div>
        <h2>Lap</h2>
    </div>
    <div id="listview"
         aria-label="list using observable array"
         data-bind="ojComponent: {component: 'ojListView', data: dataSource, item: {renderer: function(context) {return context['data']['item'];}}}">
    </div>
</div>

<!-- This is a hidden holding area for tiles removed from the masonry layout. -->
<div id="removedTilesHolder" style="display:none">
    <!-- ko foreach: partitions -->
    <div class="oj-panel oj-panel-shadow-sm"
         style="border-style: none;"
         data-bind="attr: {id: getTileId($index())}, css: 'oj-masonrylayout-tile-1x1'">
        <h3><span data-bind="text: name"></span></h3>
        <p class="oj-text-primary-color" data-bind="attr: {id: getProgressId($index())}"></p>
    </div>
    <!-- /ko -->
</div>
